 body 
        {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
            color: grey;
        }

        nav 
        {
            background-color: #333;
            color: white;
            padding: 16px;
        }

        nav ul 
        {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
        }

        nav li a 
        {
            color: white;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        nav li a:hover 
        {
            background-color: green;
        }
        .nav a
        {
            color:blue;
            text-decoration: none;
            padding: 8px 16px;
        }

        .container 
        {
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        .sidebar 
        {
            background-color: silver;
            padding: 20px;
            margin-bottom: 20px;
        }

        .content 
        {
            background-color: silver;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .content h3
        {
            color:red;
        }
        .widget 
        {
            background-color: white;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 5px;
        }

        footer 
        {
            background-color: aqua;
            color: white;
            text-align: center;
            padding: 16px;
            margin-top: 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        @media (min-width: 768px) 
        {
            .container 
            {
                flex-direction: row;
                gap: 20px;
            }

            .sidebar 
            {
                flex: 0 0 30%;
                margin-bottom: 0;
            }
            .sidebar h2 
            {
                color: blue;
                margin-bottom: 10px;
            }
            .content 
            {
                flex: 1;
            }
            .content h1
            {
                flex: 1;
                color:green;
            }
            .widgets-container 
            {
                display: flex;
                gap: 20px;
                background-color: green;
            }

            .widget 
            {
                flex: 1;
                margin-bottom: 0;
            }
        }

        @media (min-width: 1024px) 
        {
            nav ul 
            {
                justify-content: flex-start;
                gap: 32px;
                padding-left: 32px;
            }

            .container {
                max-width: 1200px;
                margin: 0 auto;
            }
        }
 